doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title API - 随机图片
    style
      include api.css
  body
    .container.api
      h1 API
      dl
        dt <a href="/api/random"><code>/api/random</code></a>
        dd 返回一张随机图片。

        dt <a href="/api/random/json"><code>/api/random/json</code></a>
        dd 返回一张随机图片的 JSON 数据。
      p API 支持 CORS。同一个 IP 五分钟最多发送 300 次请求，如果超过限制，需等待五分钟后才能使用。
      include foot.pug
