doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title API - 随机图片
    style
      include api.css
  body
    .container.api
      h1 API
      dl
        dt <a href="/api/random"><code>/api/random</code></a>
        dd 返回一张随机图片。

        dt <a href="/api/random/json"><code>/api/random/json</code></a>
        dd 返回一张随机图片的 JSON 数据。
      p API 支持 CORS。同一个 IP 五分钟最多发送 300 次请求，如果超过限制，需等待五分钟后才能使用。
      footer
        p 图片来源于维基百科「每日图片」| 本网站代码（GPL-3.0+）托管于 <a href="https://github.com/xuchunyang/fortune">GitHub</a> | 查看 <a href="/api">API</a> | <a href="http://beian.miit.gov.cn/">苏ICP备2020065056号</a>
