body {
  color: #333;
  line-height: 1.5;
  max-width: 40em;
  margin: 0 auto;
}


footer {
  color: #666;
  font-size: 80%;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: blue;
}

a:hover {
  background-color: blue;
  color: #eee;
}

footer {
  /* margin-top: 4em; */
}
