footer
  p 图片选自「<a href="https://en.wikipedia.org/wiki/Wikipedia:Featured_pictures">维基百科:特色图片</a>」| 本网站代码（GPL-3.0+）托管于 <a href="https://github.com/xuchunyang/fortune">GitHub</a> | 查看 <a href="/api">API</a> | <a href="http://beian.miit.gov.cn/">苏ICP备2020065056号</a>
